body {
    background-image: url("about.jpg");
    background-repeat: auto;
    background-size: 3000px;
}

.left {
    flex: 1;
    height: 150px;
    background-color: #00b4cf;
}

.video-container {
    position: relative;
    padding: 56%;
    padding-top: 500px;
    height: 0;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 50%;
}